[submodule "vim-papercolor"]
	path = .vim/pack/colors/start/papercolor
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "vim-fugitive"]
	path = .vim/pack/plugin/start/fugitive
	url = https://tpope.io/vim/fugitive.git
[submodule "vim-nerdtree"]
	path = .vim/pack/plugin/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "tmux-resurrect"]
	path = .tmux/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "vim-obsession"]
	path = .vim/pack/plugin/start/vim-obsession
	url = git://github.com/tpope/vim-obsession.git
[submodule "vim-airline"]
	path = .vim/pack/plugin/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim-airline-themes"]
	path = /home/pn/.vim/pack/plugin/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim-gitgutter"]
	path = .vim/pack/plugin/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
